# Created by .ignore support plugin (hsz.mobi)
### Node template
# Logs
logs
*.log
npm-debug.log*

maps/*
*.map

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

### OSX template
*.DS_Store



.idea/
test.js
